<!DOCTYPE html>
{% extends "basic_app/base.html" %}
{% load static %}

{%block body_block %}

<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
       <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
       <link href="https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap" rel="stylesheet">
 

    <div class="loginbox">
        <h1>SIGNUP</h1>
        <a class="nav-link" href="{%url 'patient_reg'%}"><button class="button button4">Patient Signup</button></a>
        <a class="nav-link" href="{%url 'doctor_reg'%}"><button class="button button4">Doctor Signup</button></a>

        
        
    </div>
   <style type="text/css">
   	   .button4{
		background-color: #E8505B;
		color: #fff;
		border: none;
		border-radius: 40px; 
		width: 230px;
		height: 60px;
		font-size: 20px;
	
	}
   	

   </style>


{% endblock %}